@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>
<br />
<br />


<div class="container">
    <h3>list of reports:</h3>
    <ul>
        <li><a href="http://srv-sql08/Reports/Pages/Report.aspx?ItemPath=%2fDEParking%2fPermits_full" target="_blank">Permits (denormalized)</a></li>
        <li><a href="http://srv-sql08/Reports/Pages/Report.aspx?ItemPath=%2fDEParking%2fcars_status02" target="_blank">Permits</a></li>
        <li><a href="http://srv-sql08/Reports/Pages/Report.aspx?ItemPath=%2fDEParking%2fCarsTotalsPerBusiness" target="_blank">Cars Totals</a></li>
    </ul>


    <div>
        <span class=" row"> Instructions how to export SSRS report to Excel</span>
        <img src="~/Images/export.png" />
    </div>
    
</div>
