<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://depakring.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>depakring.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>depakring</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$depakring</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DowntownEmployeeParkingEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:srv-sqlmvc.database.windows.net,1433;Initial Catalog=depakring_db;User ID=diges@srv-sqlmvc;Password=D1ges2015k" Name="Data Source=tcp:srv-sqlmvc.database.windows.net,1433;Initial Catalog=depakring_db;User Id=diges@srv-sqlmvc;Password=D1ges2015k" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DEPernits.DowntownEmployeeParkingEntities, DEPernits" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DowntownEmployeeParkingEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DEPermits.csdl|res://*/DEPermits.ssdl|res://*/DEPermits.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:srv-sqlmvc.database.windows.net,1433;Initial Catalog=depakring_db;User Id=diges@srv-sqlmvc;Password=D1ges2015k"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>